.terminal {
    width: 130vh;
    height: 80vh;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 2vh rgba(0,0,0,0.5);
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.terminal-header {
    display: flex;
    justify-content: flex-start;
    padding: 0.7vh;
    background: #333;
    border-bottom: 1px solid #666;
}

.circle {
    width: 1.5vh;
    height: 1.5vh;
    border-radius: 50%;
    margin: 0 0.4vh;
}

.red {
    background: #ff5f57;
}

.yellow {
    background: #ffbd2e;
}

.green {
    background: #27c93f;
}

.terminal-body {
    padding: 1vh;
    overflow-y: auto;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-end;
}

#input-wrapper {
    display: flex;
}

.prompt {
    margin-right: 0.2vh;
    font-size: 14px;
}

#input {
    background: transparent;
    border: none;
    color: white;
    outline: none;
    flex: 1;
    width: 100%;
    font-size: 14px;
}

#output {
    white-space: pre-wrap;
    font-size: 14px;
    text-align: start;
    font-family: monospace;
}

.image-container {
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: row;
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.img {
    box-sizing: border-box; 
    width: 30vh;
    height: 45vh;
    margin: 0.5vh;
    display: inline-block; 
}

.link-container {
    padding: 0;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
}

.link-container a {
    color: white;
    text-decoration: underline; 
    display: block;
    margin-bottom: 0.5rem; 
}

li {
    margin-bottom: 2vh;
}


